body{
	font-family: 'Century Gothic',helvetica,verdana,arial;
	background: url("../img/w1.jpg.jsf?ln=template") no-repeat center center fixed;
	background-size: cover;
	margin:0;
}

.bottom-space{
	margin-bottom: 1em;
}

.top-space{
	margin-top: 1em;
}

#page_wrapper{
	margin: 1em;
	min-width: 700px;
}