body{
	body {
    font-family: 'Century Gothic', helvetica, verdana, arial;
    background-color: black; /* Ustawienie koloru tła na czarny */
    margin: 0;
}
}

.bottom-space{
	margin-bottom: 1em;
}

.top-space{
	margin-top: 1em;
}

#page_wrapper{
	margin: 1em;
	min-width: 700px;
}